*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #171a1f;
  overflow-x: hidden;
}
