button.primary {
    background-color: blue;
    color: white;
}
button.primary:hover {
    background-color: darkblue;
}
button.warning {
    background-color: orange;
    color: white;
}
button.warning:hover {
    background-color: darkorange;
}
button.danger, button.error {
    background-color: red;
    color: white;
}
button.danger:hover, button.error:hover {
    background-color: darkred;
}
button.success {
    background-color: green;
    color: white;
}
button.success:hover {
    background-color: darkgreen;
}
.btn {
    padding: 10px 20px;
    width: 500px;
    height: 300px;
    font-size: 48px;
    border: 2px solid #000000;
}